<mat-card>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Put your item name here</mat-label>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
  <button mat-raised-button class="full-width" color="primary" (click)="onAddItemToList()">OK</button>
  <button mat-raised-button class="full-width mt-16" (click)="onBack()">Go back</button>
</mat-card>

<mat-card>
  <h3>Recently added</h3>
  <mat-list>
    <div *ngFor="let item of recentlyAdded">
      <mat-list-item>
          {{ item.content }}
      </mat-list-item>
    </div>
  </mat-list>
</mat-card>